@import '../../../scss/foundation/variables';

.faq_section{
    padding: 0 $horizontalPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .faq_img{
        position: relative;
        top: 4rem;
        background-size: contain;
        background: url('../../../assets/cherryyogurt.png');
        background-position: center;
    }
}