@import '../../../scss/foundation/variables';


.hero_cta{
   
    @include sectionCta;

    & h1{
        font-size: $h1;
        font-family: $fira-sans;
        color: $textColor;
        font-weight: $regular;
    }

    & h2{
        font-size: $h2;
        font-family: $fira-sans;
        color: $textColor;
        font-weight: $light;
    }

    & .social-icons{
        
        display: flex;
        gap: 3rem;
        margin-top: 8rem;
        & .socialIcon{
            width: $socialIconsWidthAndHeight;
            height: $socialIconsWidthAndHeight;
        }
    }
  
}