@import '../../../scss/foundation/variables';


.hero_cta{
   
    @include sectionCta;
    padding-left: 10rem;
    padding-top: 12rem;
        
    background: url('../../../assets/yogurtHead.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
    
    & h1{
        font-size: $h1;
        font-family: $fira-sans;
        color: $textColor;
        font-weight: $regular;
    }

    & h2{
        font-size: $h2;
        font-family: $fira-sans;
        color: $textColor;
        font-weight: $light;
    }

    & .social-icons{
        
        display: flex;
        gap: 3rem;
        margin-top: 8rem;
        & .socialIcon{
            width: $socialIconsWidthAndHeight;
            height: $socialIconsWidthAndHeight;
            cursor: pointer;
            transition: all 1s ease;
        }
    }
  
}