
@import "./scss/foundation/reset";
@import "./scss/foundation/mixins";
@import "./scss/foundation/typography";
@import "./scss/foundation/colors";

/********************
 * General STYLING *
 ********************/

/*********
 * LINKS *
 *********/

a{
    text-decoration: none;
    font-size: $link_size;
    font-family: $herakles;
    font-weight: $regular;
    color: $textColor;
    transition: all 0.25s ease;
    &:hover{
        font-weight: $bold;
        font-size: $h4;
        color: $buttonPink;
    }
}

/*************
 * SCROLLBAR *
 *************/

 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffdada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $buttonPink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009fbd;
}