@import "./foundation/variables";

/********************
 * Typography STYLING *
 ********************/

h1{
    font-size: $h1;
}

h2{
    font-size: $h2;
    font-weight: $light;
}

h3{
    font-size: $h3;
}

h4{
    font-size: $h4;
}

h5{
    font-size: $h5;
}

h1,h2,h3{
    font-family:$fira-sans;
}

h4,h5{
    font-family: $overpass;
}

h1,h3,h4,h5{
    font-weight: $regular;
}

p{
    font-family: $overpass;
    font-weight: $regular;
}

h1,h2,h3,h4,h5,a{
    color: $textColor;
}

a{
    text-decoration: none;
    font-size: $link_size;
    font-family: $overpass;
    font-weight: $regular;
}


/***********
 * BUTTONS *
 ***********/


 button{
    background-color: $buttonPink;
    color: $white;
    font-family: $fira-sans;
    font-size: $body_medium;
 }